[submodule "curl"]
	path = curl
	url = https://github.com/curl/curl.git
	branch = master
[submodule "libssh2"]
	path = libssh2
	url = https://github.com/libssh2/libssh2.git
	branch = master
[submodule "build/gyp"]
	path = build/gyp
	url = https://chromium.googlesource.com/external/gyp
	branch = master
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
	branch = master
